
@import url('http://fast.fonts.net/cssapi/9282a834-5dda-48d8-86ab-2e2125e6fc07.css');


$llgrey: #f1f1f1;
$lgrey: #766661;
$grey: #A0A2A4;
$dgrey: #616264;
$ddgrey: #484849;

$tgrey: #454242;
$black: #000;
$white: #FFFFFF;

$purple: #5d2D80;
$orange: #Eb5D52;
$pink: #ec97A7;
$aqua: #57c1Cb;


$backcol: $white;



$font-heading: 'Leitura W01', serif;
$font-primary: 'DIN Next W01 Rounded', sans-serif;



$default-border-radius: 10px;


