<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>In the next minute, over 300 hours of video will be uploaded to
        youtube, 140 000 trades will be made through the NASDAQ stock exchange,
        and Facebook users will make more than 4.7 million likes. As everyone
        moves through the digital world, and increasingly the physical world,
        they generate data. Sensors measure air pollution, GPS tracks
        footballers, your phone records your daily steps, computer chips track
        food production plus all the information gathered by companies,
        charities and the government. Changing the modern world can be done by
        exploring and understanding data collected about it.<br /> 

        This <em>Data Revolution</em> is built on three pillars: first this is a technology
revolution. Computers and electronics are increasingly our companions and our
tools in everything from how we listen to music, to how we travel, but that’s
not enough on its own. Understanding data means being able to comprehend the
mathematical models that separate the signal from the noise, statistical and
numerical analysis is the second key part of Data Science. Finally, Data Science
is about impact: making meaningful decisions and bringing about real change
through effective communication and analysis. Data Scientists practice Data
Analytics, and are the front line in the next wave of improvements in society,
commerce, and industry.</p>
        <h2>The DCU Bachelors of Science in Data Science</h2>
        <p class="lead">Learn programming, mathematics and communication, and
        apply those skills to solving problems in the real world.</p>
        <p>The DCU BSc in Data Science is a unique programme focused on that
        combination of programming, mathematics and communication that creates
        valuable insight and professional expertise. The Degree has been
        developed in close collaboration between the university, global centers
        of research excellence (INSIGHT, ADAPT), and major industry players such
        as Accenture, AIB and Intel. Students will learn theory in mathematics,
        statistics, programming, cloud technologies and machine learning. They
        will then apply that theory to industry- and socially- relevant
        scenarios using real-world data, and learn to communicate the results.
        The Qualification is very marketable, with global demand across numerous
        sectors, employed at high levels in commercial and other
        organisations.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
