<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Course Structure</h2>
                <p>The course mixes mathematics, programming and pure data
                science to create a balanced skill set.</p>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <h3>First Year</h3>
                        <p> Study the fundamentals: mathematics, statistics,
                        programming, and get a taste of the excitement of data
                        analytics.</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Second Year</h3>
                        <p>Adds more data and more problem solving, including 
                        machine learning, visualisation, and data mining.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Third Year</h3>
                        <p>You will put these fundamentals to work on large data
                        sets, on complex problems,
                        and one real-world scenarios in our unique data science
                        ‘pods’, where you will work with enterprises and
                        cultural institutions on their data and with their
                        people. The second half of third year is dedicated to an
                        INTRA, where you will join a Data Science team in a
                        large, data-driven organisation and gain real
                        understanding of your future role</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Fourth Year</h3>
                        <p>You will bring your skills and learning to tackle 
                        creative and practical solutions to complex problems. 
                        This will include more ‘pods’, the latest developments 
                        in programming, mathematics and data science, and a 
                        significant individual project showcasing your potential
                        to the many interested employers.</p>
                    </div>
                </div>
                <p>All students graduating from this NFQ Level 8 Honours Bachelors awards will receive the degree of Bachelor of Science (Honours) in Data Science (BSc DS).</p>
            </div>
        </div>
    </div>
    <!-- /.col-lg-10 -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</section>
